<div class="container">
  <h2>Liste des employés</h2>          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom D'Utilisateur</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
            <!-- <ul class="list-group"> -->
             <!-- <li class="list-group-item" *ngFor="let employe of employes"> -->
      <tr  *ngFor="let employe of employes; let i =index "
            [id]="employe.id"
              >
        <td>  {{employe.id}} </td>
        <td>  <!-- <img [src]="employe.image">  -->
          {{'&nbsp;&nbsp;&nbsp;' + employe.username }}</td>
        <td> {{employe.email }} </td>
        <td>
                <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">Choisir
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a [routerLink]="[id]">Consulter</a></li>
                          <li><a (click)="editEmploye(employe)" >Modifier
                              </a></li>
                          <li><a routerLink="/comportement">Noter Comportement</a></li>
                          <li><a href="#">Supprimer</a></li>
                        </ul>
                    
                      </div>
        </td>
      </tr>
    </tbody>
  </table>

  <a routerLink="/personel/new/0" >Ajouter un employe</a>
  <!-- <button class="btn btn-light dropdown-toggle" type="button" (click)=onSave() >Enregister</button> -->
</div>

