<div class="col-XS-12">
    <h2>Listes des employés</h2>
    
   <br> <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mis à jour : {{ lastUpdate | async | date: 'short' | uppercase }}</p>
    <ul class="list-group">
      <table class="table table-striped" >
        <thead>
            <tr>
              <th>Nom</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      <!-- <app-premier></app-premier> -->
     <br> <app-single-emp *ngFor="let liste of employes; let i = index"
       
       [email]="liste.email"
       [username]="liste.username"
       
        ></app-single-emp>

        <a routerLink="/personel/new/0" >Ajouter un employe</a>
  
    </ul>
  
  </div>