<form #workForm="ngForm"  class="editForm" novalidate>
  <div class="form-horizontal">
      <div class="tab-pane fade in active">
          <h4 class="head text-center">{{title}}</h4>
          <br/>
          <!-- <div class='row'> -->
              <!-- <div class='col-xs-offset-4 col-xs-10 col-sm-offset-5 col-sm-4'>
                  <div class="form-group">
                      <div class="radio">
                          <label>
                              <input type="radio" #work="ngModel" required name="work" [(ngModel)]="workType" value="Design">
                              Design
                          </label>
                      </div>
                      <div class="radio">
                          <label>
                              <input type="radio" #work="ngModel" required name="work" [(ngModel)]="workType" value="Code">
                              Code
                              
                          </label>
                      </div>
                      <div class="radio">
                          <label>
                              <input type="radio" #work="ngModel" required name="work" [(ngModel)]="workType" value="Deploy">
                              Deploy
                          </label>
                      </div>
                  </div>
              </div>
          </div> -->

          <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
            <div class="row">
                <div class='col-xs-12 col-sm-4'>
                    <div class="form-group">
                        <label class="control-label" for="firstname">Spécialité</label>  
                        <input class="form-control input-md" #speciality="ngModel" required id="speciality" name="speciality" type="text" placeholder="Spécialité" [(ngModel)]="work.formations.speciality">   
                        <div class="alert alert-danger" [hidden]="speciality.valid">Champs Obligatoire</div>
                    </div>

                   
                  <div class="form-group">
                    <label class="control-label" for="country">Pays</label>  
                    <input class="form-control input-md" #country="ngModel" required id="country" name="country" type="text" placeholder="Pays" [(ngModel)]="work.formations.country">
                    <div class="alert alert-danger" [hidden]="country.valid">Champs Obligatoire</div>
                </div>

                <!-- <label for="language">Langue</label>
                <select id="language" class="form-control" formControlName="language" 
                 required  name="language" type="text" >
                  <option value="1">Abkhazian</option>
                  <option value="2">Afar</option>
                  <option value="3">Afrikaans</option>
                  <option value="4">AKan</option>
                  <option value="5">Albanian</option>
                  <option value="6">Amharic</option>
                  <option value="7">Arabic</option>
                  <option value="8">Aragonese</option>
                  <option value="9">Armenian</option>
                  <option value="10">Assamese</option>
                  <option value="40">English</option>
                  <option value="47">French</option>
                  <option value="73">Italian</option>
                  <option value="74">Japanese</option>
                  
                </select> -->
                <!-- <div class="form-group">
                <div class="radio">
                <label for="language">Langue</label>
                <br><br><label>
                    <input type="radio" #work1="ngModel" required name="work1" [(ngModel)]="work" value="7">
                    Arabic
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" #work1="ngModel" required name="work1" [(ngModel)]="work" value="40">
                    English
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" #work1="ngModel" required name="work1" [(ngModel)]="work" value="47">
                    French
                </label>
            </div>
        </div> -->

                </div>
                <div class='col-xs-12 col-sm-4'>
                    
                    <div class="form-group">
                        <label class="control-label" for="diploma">Diplome</label>  
                        <input class="form-control input-md" #diploma="ngModel" required id="diploma" name="diploma" type="text" placeholder="Diplome" [(ngModel)]="work.formations.diploma">
                        <div class="alert alert-danger" [hidden]="diploma.valid">Champs Obligatoire</div>
                    </div>

                  <div class="form-group">
                    <label class="control-label" for="startDate">Date De Début</label>
                    <input class="form-control input-md" #startDate="ngModel" required id="startDate" name="startDate" type="date" placeholder="Date de Début" [(ngModel)]="work.formations.startDate">
                    <div class="alert alert-danger" [hidden]="startDate.valid">Champs Obligatoire</div>
                </div>
                
                <!-- <div class="form-group">
                    <div class="radio">
                    <label for="level">Niveau en Langue</label>
                    <br><br><label>
                        <input type="radio" #work2="ngModel" required name="work2" [(ngModel)]="workType2" value="beginner">
                        Débutant
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" #work2="ngModel" required name="work2" [(ngModel)]="workType2" value="intermediate">
                        Intermediaire
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" #work2="ngModel" required name="work2" [(ngModel)]="workType2" value="advanced">
                        Avancé
                    </label>
                </div>
            </div> -->
            </div>

                <div class='col-xs-12 col-sm-4'>
                    
                    <div class="form-group">
                        <label class="control-label" for="organization">Organisation</label>  
                        <input class="form-control input-md" #organization="ngModel" required id="organization" name="organization" type="text" placeholder="Organisation" [(ngModel)]="work.formations.organization">
                        <div class="alert alert-danger" [hidden]="organization.valid">Champs Obligatoire</div>
                    </div>
                   
                    <div class="form-group">
                        <label class="control-label" for="endDate">Date De Fin</label>
                        <input class="form-control input-md" #endDate="ngModel" required id="endDate" name="endDate" type="date" placeholder="Date de Fin" [(ngModel)]="work.formations.endDate">
                        <div class="alert alert-danger" [hidden]="endDate.valid">Champs Obligatoire</div>
    
                    </div>
                    <!-- <div class="form-group">
                        <div class="radio">
                        <label for="level">Niveau</label>
                        <br><br><label>
                            <input type="radio" #work.level="ngModel" required name="#work.level" [(ngModel)]="work.level" value="1">
                            bac+1
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" #work.level="ngModel" required name="#work.level" [(ngModel)]="work.level" value="2">
                          bac+2
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" #work.level="ngModel" required name="#work.level" [(ngModel)]="work.level" value="-1">
                            plus
                        </label>
                    </div>
                </div> -->

                </div>
            </div>
        </div>

            
                
            
        <!-- </div>   text-center space-20-->
        
        <div class='col-xs-12 col-sm-4'>
          <div class="form-group text-center space-20 ">
              <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(workForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
              <button class="btn btn-outline-rounded btn-info" [disabled]="!workForm.valid" (click)="goToNext(workForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
          </div>
        </div>

      </div>
  </div>
</form>
