<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">






<div class="card" >
  <br> <img src="assets/img/user2-160x160.jpg" alt="John" style="width:100%">
  <h1>{{username}} {{firstName}} </h1>
  <p class="title">{{currentPosition}}</p>
  <p>Organisation.Management</p>
  <a routerLink="#"><i class="fa fa-dribbble"></i></a>  
  <a routerLink="#"><i class="fa fa-twitter"></i></a> 
  <a routerLink="#"><i class="fa fa-linkedin"></i></a> 
  <a routerLink="#"><i class="fa fa-facebook"></i></a> 
  <p><button>Contact</button></p>
</div>

<p >  &#8270;&nbsp;  <b>Email :</b> <i> &nbsp; {{email}} </i>  </p>
<p > &#8270;&nbsp; <b>Statut :</b> <i> &nbsp; {{status}} </i>  </p>
<p >&#8270;&nbsp; <b>N° tel :</b> <i>&nbsp; {{phoneNumber}} </i>  </p>
<!-- Add icon library -->

<br> <br> <button type="button" class="block">Ajouter formation</button> <br> <br>
<button type="button" class="block">Ajouter experience </button>


