<table class="table table-striped">
 
  <tbody>
          <!-- <ul class="list-group"> -->
           <!-- <li class="list-group-item" *ngFor="let employe of employes"> -->
    <tr 
            >
      <td>  {{id}} </td>
      <td>  <!-- <img [src]="employe.image">  -->
        {{'&nbsp;&nbsp;&nbsp;' + username }}</td>
      <td> {{email }} </td>
      <td>
              <div class="dropdown">
                      <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">Choisir
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a [routerLink]="[id]">Consulter</a></li>
                        <li><a  >Modifier
                            </a></li>
                        <li><a routerLink="/comportement">Noter Comportement</a></li>
                        <li><a (click)="deleteEmployee(id)">Supprimer</a></li>
                      </ul>
                  
                    </div>
      </td>
    </tr>
  </tbody>
</table>